
@{
    ViewData["Title"] = "MyAddress";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@model BusinessObject.Model.DataResult
@{
    var list = Model.Result as List<BusinessObject.Model.Page.DeliveryAddressModel>;
}

<section class="gallery_section layout_padding">
    <div style="margin-bottom: 30px;" class="heading_container justify-content-center">
        <h2>
            Quản lý tài khoản
        </h2>
    </div>
<!-- Contact Start -->
<div class="container-fluid">

    <div class="row px-xl-5">
        <div class="col-lg-4 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <img style="border-radius: 50%;" alt=""
                             src="https://secure.gravatar.com/avatar/9e0afa26bc1077afbf9bebfbbb0a9b41?s=70&amp;d=mm&amp;r=g"
                             srcset="https://secure.gravatar.com/avatar/9e0afa26bc1077afbf9bebfbbb0a9b41?s=140&amp;d=mm&amp;r=g 2x"
                             height="70" width="70" decoding="async">
                        <p style="font-size: 20px;">Thông tin cá nhân</p>


                        <div style="margin-bottom: 5px;">
                            <a class="form-control_1" href="/Account/MyAccount" style="text-decoration: none;">
                                <i class="fa fa-user-circle " style="color: black; margin-right: 10px;"></i>Thông tin tài khoản
                            </a>

                        </div>

                        <div style="margin-bottom: 5px;">
                            <a class="form-control_1" href="/Account/ChangePassword" style="text-decoration: none;">
                                <i class="fa fa-key" style="color: black; margin-right: 10px;"></i>Đổi mật khẩu
                            </a>

                        </div>

                        <div class="control-group" style="margin-bottom: 5px;">
                            <a class="form-control_1" href="/Account/MyOrder" style="text-decoration: none;">
                                <i class="fa fa-gift" style="color: black; margin-right: 10px;"></i>Đơn hàng
                            </a>

                        </div>
                        <div class="control-group" style="margin-bottom: 5px;">
                            <a class="form-control_1" style="background-color:#ff8100" href="/Account/MyAddress" style="text-decoration: none;">
                                <i class="fa fa-home" style="color: black; margin-right: 10px;"></i>Địa chỉ
                            </a>

                        </div>
                        <div class="control-group" style="margin-bottom: 5px;">
                            <a class="form-control_1" href="#" onclick="handleLogout()" style="text-decoration: none;">
                                <i class="fa fa-sign-out-alt" style="color: black; margin-right: 10px;"></i>Đăng xuất
                            </a>
                        </div>

                    </form>
            </div>
        </div>
        <div class="col-lg-8 mb-5">

            <div class="bg-light p-30 mb-3 " style="height: 100%;">
                <div class="row">
                    @if (list != null && list.Count > 0)
                    {
                        <div class="col-md-12 form-group ">
                            @foreach (var item in list)
                            {

                                <label style="margin-right: 3px;">Họ và tên: </label>

                                <label style="font-weight:bold"> @item.Fullname </label> <label style="margin-left:10px;margin-right:10px;">|</label>

                                <label style="margin-right: 3px;">Số điện thoại: </label>

                                <label style="font-weight:bold"> @item.Phone</label>
                                @if(item.Specific != null)
                                {
                                    <input class="form-control" type="text" name="accAddress" value="@item.Specific, @item.Address" readonly style="background-color: #fff;">
                                }else{
                                    <input class="form-control" type="text" name="accAddress" value="@item.Address" readonly style="background-color: #fff;">
                                }
                                
                                <div style="display:flex">
                                    <input type="button" class="addressButton" value="Cập nhật" data-fullname="@item.Fullname" data-ID="@item.Id" data-phonenum="@item.Phone" data-address="@item.Address" data-isdefault="@item.IsDefault" data-specific="@item.Specific" onclick="UpdateAddress(this)" id="shipto" >

                                    <form id="deleteForm-@item.Id" onsubmit="return confirmDeleteAddress(event, '@item.Fullname', '@item.Id')">
                                        <input type="hidden" name="id" value="@item.Id">
                                        <button type="submit" class="addressButton">Xóa</button>
                                    </form>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="hide">
                            <p style="color:red">
                                Bạn chưa có địa chỉ nào cả. hãy nhấp vào đây để thêm địa chỉ mới!
                            </p>
                        </div>
                    }

                    @if (list.Count < 3)
                    {
                        <div class="col-md-12">
                            <button class="addnewButton" onclick="toggleAddNewAddressForm()">Thêm địa chỉ mới</button>
                        </div>
                    }
                
                </div>
            </div>
        </div>
    </div>
</div>
<
<!-- Contact End -->

<!-- Form Update Address -->
<form method="post" class="update_address_form" action="/Account/UpdateAddress">
    <div class="popup-overlay-update hidden" id="updateAddressForm" data-addressID="">
        <div class="popup-form-container-update">
            <div class="popup-header-update">
                <span class="popup-title-update">Cập nhật địa chỉ</span>
            </div>
            <div class="popup-form-content-update">
                <!-- Item -->      
                <input type="hidden" value="" id="idUpdate" name="id">
                <div class="popup-row-update">
                    <div class="popup-col-update">
                        <input type="text" value="" placeholder="Your full name" class="popup-input-update" name="fullname" id="fullnameUpdate">
                        <p style="color: red;"></p>
                    </div>
                    <div class="popup-col-update">
                        <input type="text" value="" placeholder="Phone number" class="popup-input-update" name="phone" id="phonenumUpdate">
                        <p style="color: red;"></p>
                    </div>
                </div>
                <div class="popup-row-update">
                    <div class="popup-col-update popup-full-width-update">
                        <label for="option" class="popup-address-label-update">
                            <input type="text" value="" class="popup-form-control-update" name="address" id="addressUpdate" readonly>
                            <p style="color: red;"></p>
                            <div class="popup-icon-update">
                                <i class="fa solid fa-chevron-down"></i>
                            </div>
                        </label>
                    </div>
                    <div class="popup-col-update popup-full-width-update" id="optionFields1">
                        <select id="provincesUpdate" class="popup-input-update" onchange="getDistrictsUpdate(event)">
                            <option value="">Chọn tỉnh, thành phố</option>
                            <!-- Options will be populated here -->
                        </select>

                        <select id="districtsUpdate" class="popup-input-update" onchange="getWardsUpdate(event)">
                            <option value="">Chọn quận, huyện</option>
                        </select>
                        <select id="wardsUpdate" class="popup-input-update" onchange="AddressFieldUpdate()">
                            <option value="">Chọn phường, xã</option>
                            <!-- Options will be populated here -->
                        </select>
                    </div>
                </div>
                <div class="popup-row-update">
                    <input type="text" placeholder="Specific address" class="popup-input-update popup-full-width" name="specific" value="" id="specificAddressUpdate">
                </div>
                <div class="popup-row-update">
                    <label class="popup-checkbox-container-update">
                        <input type="checkbox" id="defaultAddress" name="isdefault" value="true" >
                        <span class="popup-checkmark-update"></span>        
                        Địa chỉ mặc định
                    </label>
                </div>
            </div>
            <div class="popup-footer-update">
                <button type="button" class="popup-button-update cancel" onclick="closeUpdateAddressForm()">Hủy</button>
                <button type="submit" class="popup-button-update submit">Xác nhận</button>
            </div>
        </div>
    </div>
</form>



<!-- Form Add Address -->
<form method="post" class="add_address_form" action="/Account/AddAddress">
    <div class="popup-overlay hidden" id="addAddressForm">
    <div class="popup-form-container">
        <div class="popup-header">
            <span class="popup-title">Thêm địa chỉ mới</span>
        </div>
        <div class="popup-form-content">
            <!-- Item -->
            <div class="popup-row">
          
                <div class="popup-col">
                    <input type="text" placeholder="Họ và tên" class="popup-input" name="fullname" id="fullName">
                        <p style="color: red;"></p>
                </div>
                <div class="popup-col">
                    <input type="text" placeholder="Số điện thoại" class="popup-input" name="phone" id="phoneNumber">
                        <p style="color: red;"></p>
                </div>
            </div>
                <div class="popup-row">
                    <div class="popup-col popup-full-width">
                        <label for="option" class="popup-address-label" onclick="toggleShowOption()">
                            <input type="text" value="" class="popup-form-control" name="address" id="address" readonly>
                            <p style="color: red;"></p>
                            <div class="popup-icon">
                                <i class="fa solid fa-chevron-down"></i>
                            </div>
                        </label>
                    </div>
                    <div class="popup-col popup-full-width" id="optionFields">
                        <select id="provinces" class="popup-input" onchange="getDistricts(event)">
                            <option value="">Chọn tỉnh, thành phố</option>
                            <!-- Options will be populated here -->
                        </select>

                        <select id="districts" class="popup-input" onchange="getWards(event)">
                                <option value="">Chọn quận, huyện</option>
                        </select>
                        <select id="wards" class="popup-input" onchange="updateAddressField()">
                                <option value="">Chọn phường, xã</option>
                            <!-- Options will be populated here -->
                        </select>
                    </div>
                </div>
            <div class="popup-row" >
           
                <input type="text" placeholder="Specific address" class="popup-input popup-full-width" name="specific" id="specificAddress">
            </div>
            <div class="popup-row">
                <label class="popup-checkbox-container">
                        <input type="checkbox" id="defaultAddress" name="isdefault" value="true">
                        <span class="popup-checkmark"></span>
                    Địa chỉ mặc định
                </label>
            </div>
        </div>
        <div class="popup-footer">
                <button type="button" class="popup-button cancel" onclick="toggleAddNewAddressForm()">Hủy</button>
            <button type="submit" class="popup-button submit">Xác nhận</button>
        </div>
    </div>
</div>
</form>


<div id="deleteConfirmation" style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 9999;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border-radius: 10px; text-align: center;">
        <h3>Confirm Delete</h3>
        <p>Are you sure you want to delete the address for:</p>
        <p style="font-weight:bold" id="deleteAddressName"></p>
        <div>
            <button type="button" style="background-color: red; border-radius: 10px; color: white; padding: 10px 20px; margin: 10px;" onclick="confirmDelete()">Yes</button>
            <button type="button" style="background-color: gray; border-radius: 10px; color: white; padding: 10px 20px; margin: 10px;" onclick="closeDeleteConfirmation()">No</button>
        </div>
    </div>
</div>
<script src="~/js/address/address.js"></script>
<script src="~/js/address/addressvalidate.js"></script>