@model BusinessObject.Model.Page.ProductData
@using Newtonsoft.Json

<div class="product-item bg-light mb-4">
    <div class="product-img position-relative overflow-hidden">
        <img class="img-fluid w-100" src="@Model.ProImg[0]" alt="@Model.ProName">
        <div class="product-action">
            <a class="btn btn-outline-dark btn-square"
               data-model ="@System.Text.Json.JsonSerializer.Serialize(Model)"
               data-amount ="1"
               onclick="AddToCart(this)">
                <i class="fa fa-shopping-cart"></i>
            </a>
            <a class="btn btn-outline-dark btn-square" href="/ProductDetail?ProId=@Model.ProId"><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="text-center py-4">
        <a class="h6 text-decoration-none text-truncate" href="">@Model.ProName</a>
        <div class="d-flex align-items-center justify-content-center mt-2">

            @if (Model.Discount > 0)
            {
                var priceDiscount = @Model.ProPrice - (@Model.ProPrice * @Model.Discount) / 100;
                priceDiscount = Math.Round(priceDiscount, 2);
                <h5>@priceDiscount.ToString("N0")₫</h5>


                <h6 class="text-muted ml-2"><del>@Model.ProPrice.ToString("N0")₫</del></h6>
            
            }
            else
            {
                <h5>@Model.ProPrice₫</h5>
 
            }
      
        </div>
        <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
        </div>
    </div>
</div>